<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="/styles/Recipes.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Recipe Book</h1>
        <div class="row" id="recipe-container">
            <% recipes.forEach(recipe=> { %>
                <div class="recipe-card">
                    <img src="<%= recipe.image_url %>" class="recipe-image" alt="<%= recipe.title %>">
                    <h2 class="recipe-title">
                        <%= recipe.title %>
                    </h2>
                    <p class="recipe-ingredients">Ingredients: <%= recipe.ingredients.join(', ') %></p>
                    <a href="/recipe/<%= recipe.id %>" class="recipe-link">View Recipe</a>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>